name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: forcet22/devops-pipelines/.github/workflows/docker-image-poke-data.yml@main
    with:
      docker_image_name: hola-node
      helm_name: forcet-node
    secrets: inherit